body {
margin: 0;
font-family: Arial;
background: linear-gradient(to right, #141e30, #243b55);
color: white;
text-align: center;
}

header {
padding: 20px;
font-size: 28px;
}

.container {
margin-top: 100px;
}

button {
padding: 10px 20px;
background: #00c6ff;
border: none;
cursor: pointer;
border-radius: 5px;
}

button:hover {
background: #0072ff;
color: white;
}

footer {
position: fixed;
bottom: 10px;
width: 100%;
font-size: 14px;
}